 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 body {
    background-color: #f2f7ff;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #003399;

}

h2 {
    color: #0056b3;
    font-family: "Trebuchet MS", sans-serif;
}

p, li {
    font-size: 18px;
}

strong {
    color: #e60000;
}

a {
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border-radius: 10px;
    margin-bottom: 15px;
}